.ipynb_checkpoints/
.virtual_documents/
.vs/
*.mp3
*.mp4 
*.wavs       
GEMINI_AI/.ipynb_checkpoints/
AUTOMATIONS/.ipynb_checkpoints/
AUTOMATIONS/__pycache__
AUTOMATIONS/video_frames
AUTOMATIONS/media
GEMINI_AI/.virtual_documents/
GEMINI_AI/Allura,Briem_Hand,Indie_Flower,Pacifico/
       

GEMINI_AI/Videos/PixabayVids/.ipynb_checkpoints
GEMINI_AI/Videos/PixabayVids/.ipynb_checkpoints
       
GEMINI_AI/Videos/PixabayVids/__pycache__/
        
Include/
        
Lib/

        
Scripts/
        
Src_Codes/
              
__pycache__/
       
etc/
        
ms-event-registration-form/
        
pyvenv.cfg
share/
FREDAPI/.get_data.py.un~
FREDAPI/get_data.py~
 
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip_part_0.csv
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip_part_0.csv.zip_part_0.csv
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip_part_0.csv.zip_part_1.csv
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip_part_0.csv.zip_part_1.csv.zip
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip_part_1.csv
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip_part_1.csv.zip
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_1.csv
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_1.csv.zip
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_1.csv
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_1.csv.zip
TIKTOK/.tiktok_analysis.py.un~
 
YOUTUBE/.favoriteVids_Ids.py.un~
YOUTUBE/.practice.py.un~


YOUTUBE/favoriteVids_Ids.py~
YOUTUBE/practice.py~

part_aa

AUTOMATIONS/202722__mattc90__phone-gone-crazy-in-the-cathedral.wav
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip_part_0.csv.zip
GEMINI_AI/Videos/PixabayVids/217115_small.mp4_part_0.csv.zip_part_0.csv.zip_part_0.csv.zip_part_0.csv.zip



        

